In [1]:


pip install pyspark

Note: you may need to restart the kernel to use updated packages.Collecting pyspark

WARNING: You are using pip version 21.0.1; however, version 21.2.3 is available.
You should consider upgrading via the 'C:\Users\USER\AppData\Local\Programs\Python\Python38\python.exe -m pip install --upgrade pip' command.

  Downloading pyspark-3.1.2.tar.gz (212.4 MB)
Collecting py4j==0.10.9
  Downloading py4j-0.10.9-py2.py3-none-any.whl (198 kB)
Using legacy 'setup.py install' for pyspark, since package 'wheel' is not installed.
Installing collected packages: py4j, pyspark
    Running setup.py install for pyspark: started
    Running setup.py install for pyspark: still running...
    Running setup.py install for pyspark: still running...
    Running setup.py install for pyspark: finished with status 'done'
Successfully installed py4j-0.10.9 pyspark-3.1.2

3.1 Assingment1 \\
a) Create RDD from CSV data below
b) Create DF without giving schema and indicating it has header row 
c) Create DF by providing schema and indicating it has header row

In [18]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType,StructField, StringType, IntegerType,DateType,DoubleType
from pyspark import SparkContext, SparkConf
spark=SparkSession.builder.appName('NEW').getOrCreate()
sc = SparkContext.getOrCreate(SparkConf())

a) Create RDD from CSV data below

In [19]:
distFile = sc.textFile("new.csv")

In [20]:
d_new=distFile.collect()

In [21]:
d_new

['id;name;dob;salary;designation;managerid;address;hobbies',
 '1;Sachin;10/01/75;10000;Manager;2;{"city" : "Bangalore", "state" : "Karnataka"};"cricket","netflix","walking"',
 '1;Sachin;10/01/75;10000;Volunteer;2;{"city" : "Bangalore", "state" : "Karnataka"};"cricket","netflix","walking"',
 '2;Dolly;11/02/76;20000;Director;3;{"city" : "Bangalore", "state" : "Karnataka"};�walking�,�jogging�',
 '3;Rajesh;12/03/77;30000;VP;4;{"city" : "Chennai", "state" : "TN"};�walking�,�cricket�',
 '4;Kishore;14/04/78;40000;SVP;5;{"city" : "Pune", "state" : "MH"};�walking�,"football�',
 '5;Naveen;15/05/79;50000;CEO;6;{"city" : "Delhi", "state" : "Delhi"};�music�,�netflix�',
 '6;Babu;16/06/80;60000;Chairman;0;{"city" : "Jaipur", "state" : "RJ"};']

b) Create DF without giving schema and indicating it has header row

In [22]:
df3 = spark.read.options(header='True',inferSchema='True',delimiter=';') \
  .csv("new.csv")

In [23]:
df3

DataFrame[id: int, name: string, dob: string, salary: int, designation: string, managerid: int, address: string, hobbies: string]

In [24]:
df3.show()

+---+-------+--------+------+-----------+---------+--------------------+--------------------+
| id|   name|     dob|salary|designation|managerid|             address|             hobbies|
+---+-------+--------+------+-----------+---------+--------------------+--------------------+
|  1| Sachin|10/01/75| 10000|    Manager|        2|{"city" : "Bangal...|"cricket","netfli...|
|  1| Sachin|10/01/75| 10000|  Volunteer|        2|{"city" : "Bangal...|"cricket","netfli...|
|  2|  Dolly|11/02/76| 20000|   Director|        3|{"city" : "Bangal...| �walking�,�jogging�|
|  3| Rajesh|12/03/77| 30000|         VP|        4|{"city" : "Chenna...| �walking�,�cricket�|
|  4|Kishore|14/04/78| 40000|        SVP|        5|{"city" : "Pune",...|�walking�,"football�|
|  5| Naveen|15/05/79| 50000|        CEO|        6|{"city" : "Delhi"...|   �music�,�netflix�|
|  6|   Babu|16/06/80| 60000|   Chairman|        0|{"city" : "Jaipur...|                null|
+---+-------+--------+------+-----------+---------+--------------------+--------------------+

In [25]:
df3.printSchema()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- dob: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- designation: string (nullable = true)
 |-- managerid: integer (nullable = true)
 |-- address: string (nullable = true)
 |-- hobbies: string (nullable = true)

c) Create DF by providing schema and indicating it has header row

In [26]:
schema1 = StructType([
    StructField("id", IntegerType()),
    StructField("name", StringType()),
    StructField("dob", DateType()),
    StructField("salary", DoubleType()),
    StructField("designation", StringType()),
    StructField("managerid", IntegerType()),
    StructField("address", StringType()),
    StructField("hobbies", StringType())])

In [27]:
df4 = spark.read.options(header='True',inferSchema='True',delimiter=';',schema=schema1) \
  .csv("new.csv")

In [31]:
df4.show()

+---+-------+--------+------+-----------+---------+--------------------+--------------------+
| id|   name|     dob|salary|designation|managerid|             address|             hobbies|
+---+-------+--------+------+-----------+---------+--------------------+--------------------+
|  1| Sachin|10/01/75| 10000|    Manager|        2|{"city" : "Bangal...|"cricket","netfli...|
|  1| Sachin|10/01/75| 10000|  Volunteer|        2|{"city" : "Bangal...|"cricket","netfli...|
|  2|  Dolly|11/02/76| 20000|   Director|        3|{"city" : "Bangal...| �walking�,�jogging�|
|  3| Rajesh|12/03/77| 30000|         VP|        4|{"city" : "Chenna...| �walking�,�cricket�|
|  4|Kishore|14/04/78| 40000|        SVP|        5|{"city" : "Pune",...|�walking�,"football�|
|  5| Naveen|15/05/79| 50000|        CEO|        6|{"city" : "Delhi"...|   �music�,�netflix�|
|  6|   Babu|16/06/80| 60000|   Chairman|        0|{"city" : "Jaipur...|                null|
+---+-------+--------+------+-----------+---------+--------------------+--------------------+

3.2 Create a case class Employee and then create a Dataset of type employee with below data.

In [34]:
df_employee=df4.select(['name'])

In [35]:
df_employee.show(2)

+------+
|  name|
+------+
|Sachin|
|Sachin|
+------+
only showing top 2 rows

a) Read empty table create below into a DF and show

In [40]:
df_empty = spark.createDataFrame([], StructType([]))